# IDE (IntelliJ)
.idea/
.idea*
*.im

# Class files
*.class
soccer/src/sim/*.class
soccer/src/random/*.class

# Bin folder
bin/

# Log file
*.log

# CSV file
*.csv

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.txt

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
out
